
@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>


<div class="about-us">
    <h2>About Us</h2>
    <p>Welcome to Fur Babbies And Supply One Stop Shop! For over 40 years, we have been dedicated to supporting those who care for abandoned and adopted puppies, as well as helping these lovable fur babies find their forever homes.</p>
    <p>Our journey began in 1984, when a group of passionate college students came together with a shared vision. They saw the need for a comprehensive resource to aid people in taking care of puppies in need. From this vision, Fur Babbies And Supply One Stop Shop was born.</p>
    <p>We are committed to providing everything you need to ensure the well-being of your furry friends. Whether you are looking to adopt a puppy or need supplies to care for your new family member, we are here to help. Our mission is to make the process of adoption and care as smooth and joyful as possible.</p>
    <p>Thank you for being a part of our community and for supporting our mission to give every puppy a loving home.</p>
</div>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>
