
@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>


This page will contian information about the organization and the purpose!
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>
