
@{
    ViewData["Title"] = "FurBabbies";
}

<h1>FurBabbies</h1>

This page will contian a catalog of puppies.


<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>