
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Fur Babbies And Supply One Stop Shop</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>This Website Allows Donations, Adoptions of Fur Babbies, and Product to care for them.</p>
        <div class="donate-button-container">
           
        </div>
    </div>
</body>
</html>

//second button created(remove if you don't want it.)
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>