@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <div class="privacy-notice">
        <h2>PRIVACY NOTICE</h2>
        <p><strong>Effective Date:</strong> September 1, 2024</p>
        <p><strong>Version 7.0</strong></p>
        <p>This Privacy Notice describes our handling of Personal Information in connection with your activities in our locations or your use of our websites, mobile applications, or the services we provide. By visiting our locations, websites, or mobile applications or using our services, you hereby consent to these terms.</p>
        <p>“Personal Information” refers to both online and offline information that identifies you or that can be reasonably linked to you as an individual.</p>
        <p>We encourage you to read this Privacy Notice which describes how we collect, use, disclose, share/sell, and protect your Personal Information, and the choices you have regarding your Personal Information.</p>
        <p>Please note that if you are a current or former employee or job candidate, your Personal Information collected in that context is subject to our Workforce Privacy Notice rather than this Privacy Notice. This Privacy Notice applies to your interaction with our companies as a prospective, current, or former customer, visitor, or business partner.</p>
        <h3>How We Use Personal Information</h3>
        <p>Personal Information may be used for the following purposes or as otherwise specified in this notice:</p>
        <ul>
            <li><strong>To Communicate with You and to Provide, Support, and Improve our Products, Services, and Programs.</strong> We use Personal Information to process your orders, purchases, refunds/exchanges, and requests for products, services, or information. We may also use your Personal Information to create and maintain your accounts, to enable order shipment tracking notifications, to provide customer service, to administer our credit card/gift card programs, to personalize your shopping experience, to identify your preferences, to draw inferences, to provide you services across multiple devices, to improve the functioning and performance of our digital properties, to enable certain mobile app functionality (such as using your location to help you find our nearby locations), to support our partner programs, and to expand our product/service offerings. We also use your personal information to administer our rewards/loyalty programs.</li>
            <li><strong>Marketing and Advertising.</strong> Personal Information may be used to communicate and/or administer sales/prospecting programs, promotions, contests, sweepstakes, and surveys, and to make you aware of our products and services or the products or services of other companies. We may use your Personal Information to better predict your product/service preferences or interests. We may also evaluate your interactions with our emails/advertisements and activity on websites/applications to serve you personalized advertising in order to show you content that is more likely to be of interest to you and to measure advertising effectiveness. (See section 4 below for additional information regarding our Marketing activities.)</li>
            <li><strong>Other Uses.</strong> We use Personal Information for other reasons, including conducting sales research and analysis; preventing or mitigating fraud, illegal activity, and credit risk; support our core business functions; and relating to or complying with legal matters, investigations, and applicable laws and regulations.</li>
        </ul>
    </div>.
</p>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>