
@{
    ViewData["Title"] = "ProductNPrices";
}

<h1>ProductNPrices</h1>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Donate", "Home")'">Donate</button>


<div class="catalog">
    <div class="puppy-item">
        <img src="~/Images/lab.jpg" alt="Lab">
        <h2>Lab</h2>
        <button class="add-to-cart">Add to Cart</button>
        
        <button class="donate" onclick="window.location.href='donate.html'">Donate</button>
    </div>
    <div class="puppy-item">
        <img src="~/Images/Chihuaha.jpg" alt="Chihuaha">
        <h2>Chihuaha</h2>
        <button class="add-to-cart">Add to Cart</button>
        <button class="donate" onclick="window.location.href='donate.html'">Donate</button>
    </div>
    <div class="puppy-item">
        <img src="~/Images/poodle.jpg" alt="Poodle">
        <h2>Poodle</h2>
        <button class="add-to-cart">Add to Cartt</button>
        <button class="donate" onclick="window.location.href='donate.html'">Donate</button>
    </div>
    <div class="puppy-item">
        <img src="~/Images/yorkie.jpg" alt="Yorkie">
        <h2>Yorkie</h2>
        <button class="add-to-cart">Add to Cart</button>
        <button class="donate" onclick="window.location.href='donate.html'">Donate</button>
    </div>
</div>
