@{
    ViewData["Title"] = "Donation Submitted";
}


<h1 class="white-text">Thank You!!!!</h1>

<p class="white-text">Donations Help Our Organization Running and Taking Care of Our Fur Babies Until They Find Their Forever Home!!!</p>